<% if !!flash[:edit_error] %>
	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<% flash[:edit_error].each do |message| %>
			<span><%= message %>.  </span>
		<% end %>
	</div>
<% end %>

<form action='/entries/<%= @entry.id %>' method='POST'>
	<input type="hidden" name="_method" id="hidden" value="PATCH">
	<label for="title">Entry Title:</label>
	<input type="text" name="entry[title]" id="title" class="form-control" placeholder="Entry Title" value="<%= @entry.title %>">
	<br>

	<label for="goal">Goal:</label>
	<select name="entry[goal_id]" id="goal" class="custom-select">
		<option name="goal" value=""></option>
		<% current_user.goals.all.each do |goal| %>
			<option name="goal" value="<%= goal.id %>" <% if @entry.goal.id == goal.id %>selected='selected'<% end %>>
				<%= goal.name %>
			</option>
		<% end %>
	</select>
	<br>
	<br>

	<div class="form-group">
		<label for="summernote">What did you learn today?</label>
		<textarea name="entry[content]" class="form-control" id="summernote" rows="7">
			<%= @entry.content %>
		</textarea>
	</div>

	<button type="button" class="btn btn-secondary" onclick="window.location.href='/entries/<%= @entry.id %>'">Cancel</button>
	<input type="submit" id="submit" value="Save" class="btn btn-primary">
</form>