<h2>Welcome, <%= current_user.first_name %></h2>
<% if !!flash[:login] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:login] %>
  </div>
<% elsif !!flash[:signup] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:signup] %>
  </div>
<% end %>

<% current_user.entries.each do |entry| %>
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title"><%= entry.title %></h3>
      <h6 class="card-subtitle text-muted"><%= entry.goal.name %></h6>
    </div>
    <div class="card-body">
      <p class="card-text"><%= entry.content %></p>
    </div>
    <div class="card-footer text-muted">
      <%= entry.created_at.strftime("%A, %B %d, %Y") %>
      <!-- <a href="#" class="card-link">Goal</a>
      <a href="#" class="card-link">Tags</a> -->
    </div>
  </div>
<% end %>