<h2>All Entries:</h2>
<% if !!flash[:login] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:login] %>
  </div>
<% elsif !!flash[:signup] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:signup] %>
  </div>
<% elsif !!flash[:delete_entry] %>
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:delete_entry] %>
</div>
<% end %>
<% !!if flash[:no_entry_error] %>
	<div class="alert alert-dismissible alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:no_entry_error] %>
	</div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Snippet</th>
      <th scope="col">Goal</th>
      <th scope="col">Date Created</th>
    </tr>
  </thead>
    <tbody>
      <% current_user.entries.each do |entry| %>
        <tr>
          <th scope="row">
            <a href="/entries/<%= entry.id %>"><%= entry.title %></a>
          </th>
          <td> <%= entry.snippet %></td>
          <td><a href="/goals/<%= entry.goal.id %>"><%= entry.goal.name %></a></td>
          <td><%= entry.created_at.strftime("%A, %B %d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>
</table> 