<h2>Welcome, <%= current_user.first_name %></h2>
<% if !!flash[:login] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:login] %>
  </div>
<% elsif !!flash[:signup] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:signup] %>
  </div>
<% elsif !!flash[:delete_entry] %>
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:delete_entry] %>
</div>
<% end %>


<% current_user.entries.each do |entry| %>
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title"><a href="/entries/<%= entry.id %>"><%= entry.title %></a></h3>
      <h6 class="card-subtitle text-muted"><%= entry.goal.name %></h6>
    </div>
    <div class="card-body">
      <p class="card-text"><%= entry.content[0..300] %>
        <% if entry.content.length > 300 %>
          <a href="/entries/<%= entry.id %>">read more...</a>
        <% end %>
      </p>
    </div>
    <div class="card-footer text-muted">
      <%= entry.created_at.strftime("%A, %B %d, %Y") %>
    </div>
  </div>
<% end %>