<h2>Welcome, <%= current_user.first_name %></h2>
<% if !!flash[:login] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:login] %>
  </div>
<% elsif !!flash[:signup] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:signup] %>
  </div>
<% elsif !!flash[:delete_entry] %>
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:delete_entry] %>
</div>
<% end %>
<% !!if flash[:no_entry_error] %>
	<div class="alert alert-dismissible alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:no_entry_error] %>
	</div>
<% end %>


<% current_user.entries.each do |entry| %>
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title"><a href="/entries/<%= entry.id %>"><%= entry.title %></a></h3>
      <h6 class="card-subtitle text-muted"><a href="/goals/<%= entry.goal.id %>"><%= entry.goal.name %></a></h6>
    </div>
    <div class="card-body">
      <%= entry.content %>
    </div>
    <div class="card-footer text-muted">
      <%= entry.convert_to_date %>
    </div>
  </div>
<% end %>