<% if !!flash[:new_entry] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:new_entry] %>
	</div>
<% end %>

<% if !!flash[:edit_success] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:edit_success] %>
	</div>
<% end %>

<div class="card mb-3">
	<div class="card-body">
		<h3 class="card-title"><%= @entry.title %></h3>
		<h6 class="card-subtitle text-muted"><a href="/goals/<%= @entry.goal.id %>"><%= @entry.goal.name %></h6></a>
	</div>
	<div class="card-body">
		<p class="card-text"><%= @entry.content %></p>
	</div>
	<div class="card-footer text-muted">
		<%= @entry.created_at.strftime("%A, %B %d, %Y") %>
	</div>
</div>

<button type="button" class="btn btn-warning" onclick="window.location.href='/entries/<%= @entry.id %>/edit'">Edit</button>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_entry">Delete</button>

<div class="modal fade" id="delete_entry" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete <%= @entry.title %></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this entry?<br>
				Once it is deleted, the change <strong>cannot</strong> be undone.</p>
			</div>
			<div class="modal-footer">
				<form action="/entries/<%= @entry.id %>" method="POST">
					<input type="hidden" name="_method" id="hidden" value="DELETE">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>

				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
