<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <title>DeveloperJournal</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">&#60&#47Developer Journal&#62</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <% if request.path_info.include?("goals") %><%= 'active' %><% end %>">
          <a class="nav-link" href="/goals">Goals</a>
        </li>
        <li class="nav-item <% if request.path_info.include?("entries") %><%= 'active' %><% end %>">
          <a class="nav-link" href="/entries">Entries</a>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link <% if request.path_info.include?("login") %><%= 'active' %><% end %>" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if request.path_info.include?("signup") %><%= 'active' %><% end %>" href="/signup">Signup</a>
          </li>
        <% end %>
      </ul>
      <% if logged_in? %>
        <button type="button" class="btn btn-success" onclick="window.location.href='/goals/new'"> New Goal </button>
        <button type="button" class="btn btn-info" onclick="window.location.href='/entries/new'">New Entry</button>
      <% end %>
    </div>
  </nav>
  <div class="container">
      <br>

      <%= yield %>
    
    <!-- TODO: Update footer branding with my info -->
  </div>
  <footer class="branding fixed-bottom">
    <small>&copy; 2018 <strong>DeveloperJournal</strong></small>
  </footer>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
  <script>
      $(document).ready(function() {
          $('#summernote').summernote({
            height: 200
          });
      });
    </script>
</body>
